body {
    background-color: #add8e6; /* Azul claro */
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    background-image: url('img/carro.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

h1 {
    color: #FFFFFF;
    text-align: center; /* Centraliza o texto */
}

p {
    color: #FFFFFF;
    text-align: center; /* Centraliza o texto */
}

ul {
    list-style-type: none;
}

li {
    margin: 5px 0;
}

iframe {
    border: none;
}

/* Adiciona cor clara aos links */
a {
    color: #FFFFFF; /* Cor branca */
}

/* Redimensiona as imagens para ficarem proporcionais ao texto */
img {
    max-width: 100%;
    height: auto;
}

/* Define um tamanho máximo específico para a imagem do microcontrolador */
.microcontrolador {
    max-width: 10%; /* Ajustado para 10% */
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
