body {
    background-color: #add8e6; /* Azul claro */
    font-family: Arial, sans-serif;
}

h1 {
    color: #FFFFFF;
    text-align: center; /* Centraliza o texto */
}

p {
    color: #ADD8E6;
}

ul {
    list-style-type: none;
}

li {
    margin: 5px 0;
}

iframe {
    border: none;
}

/* Adiciona cor clara aos links */
a {
    color: #FFFFFF; /* Cor branca */
}
